{
  "name": "HRV Controller",
  "device_id": "hrv_control",
  "wifi": {
    "ssid": "CHANGE-ME-WIFI-SSID",
    "password": "CHANGE-ME-WIFI-PASSWORD"
  },
  "mqtt": {
    "host": "CHANGE-ME-MQTT-SERVER",
    "port": 1883
  },
  "ota": {
    "enabled": true
  },
  "settings": {
    "debug_level": 10
  }
}
